<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/example.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

<body>
<div ng-controller="DatepickerDemoCtrl">
  <h2>Shortcuts:</h2>
  <p class='lead'>Accepted Formats:</p>
  <p class=''>ddMMyy, ddMMyyyy, dd.MM.yy, dd.MM.yyyy</p>
  <p class='lead'>Specials:</p>
  <p class=''>'.' resolves to today()</p>
  <p class=''>ddmm'.' resolves to ddmmcurrentyear</p>
  <p class='text-info'>Input gets cleaned up! Try typing Characters.</p>
  <p class='text-info'>On Focus the element gets selected for convenience</p>
    <div class="row">
      <div class="col-md-6">
          <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" numeric select-on-click />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="text" class="form-control" value="{{dt | date:'dd.MM.yyyy'}}"/>
            </p>
        </div>
    </div>
</div>
</body>
</html>
